*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}

// 標題字
h1 {
  font-size: 68px;
  font-weight: bold;
}

h2 {
  font-size: 42px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: bold;
}

h6 {
  font-size: 16px;
  font-weight: bold;
}

// 內文字
.fontPrimary {
  font-size: 16px;
}

.fontSecondary {
  font-size: 14px;
}

.fontMinimal {
  font-size: 12px;
}

// 共用顏色
:root {
  // 品牌色
  --main: #ff6600; // Logo顏色

  // 主要顏色
  --primary: #0062ff; // Primary
  --secondary: #6c757d; // Secondary
  --success: #3dd598; // Success
  --warning: #ffc542; // Warning
  --danger: #fc5a5a; // Error

  // 輔助色
  --orangeColor: #ff974a; // 橘色
  --blueColor: #50b5ff; // 藍色
  --greenColor: #82c43c; // 綠色
  --purpleColor: #a461d8; // 紫色
  --pinkColor: #ff9ad5; // 粉色

  // 灰階色
  --dark-100: #171725;
  --dark-90: #44444f;
  --dark-80: #696974;
  --dark-70: #92929d;
  --dark-60: #b5b5be;
  --dark-50: #d5d5dc;
  --dark-40: #e2e2ea;
  --dark-30: #f1f1f5;
  --dark-20: #fafafb;
  --dark-0: #ffffff;

  // input下面 border 的線
  --default: #657786; // Default color
  // tweet的底線
  --gray: #e6ecf0;
}
