.notification {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2.4fr 1.8fr;

  .notificationLeft {
    height: 100vh;
    border-right: 1px solid var(--gray1);
  }

  .notificationCenter {
    height: 100vh;
  }

  .notificationRight {
    height: 100vh;
    border-left: 1px solid var(--gray1);
  }
}

.chatroom {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr 2.6fr;

  .chatroomLeft {
    height: 100%;
    border-right: 1px solid var(--gray1);
  }

  .chatroomCenter {
    height: 100%;
  }

  .chatroomRight {
    height: 100%;
    border-left: 1px solid var(--gray1);
  }
}